/* MIXINS*/
/* END MIXINS*/
/* VARIABLES */
/* END VARIABLES */
.body {
  background-color: #808080;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checksheetTable {
  font-weight: bold;
}

.checksheetTable--row {
  color: #FFFFFF;
  height: 40px;
  padding-right: 10px;
}

.checksheetTable--row:nth-child(even), .checksheetTable--row:nth-child(even) input {
  background-color: #4f4f4f;
}

.checksheetTable--row:nth-child(odd), .checksheetTable--row:nth-child(odd) input {
  background-color: #303030;
}

.checksheetTable--row:first-child, .checksheetTable--row:first-child input {
  background-color: #222222;
}

.checksheetTable--row input {
  color: #FFFFFF;
}

.textInput {
  border: 1px solid #333333;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
}

.checksheetTable--fieldInput, .checksheetTable--fieldInput:focus, .checksheetTable--fieldInput--error, .checksheetTable--fieldInput:focus .checksheetTable--fieldInput--error:focus {
  border: 1px solid #333333;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  width: 120px;
  height: 90%;
  padding-left: 2px;
}

.checksheetTable--fieldInput:focus, .checksheetTable--fieldInput--error:focus, .checksheetTable--fieldInput:focus .checksheetTable--fieldInput--error:focus {
  border: 2px solid #0c60b1;
}

.checksheetTable--fieldInput--error {
  border: 2px solid #ba0808 !important;
}

.checksheetTable--fieldInput:focus .checksheetTable--fieldInput--error:focus, .checksheetTable--fieldInput--error:focus .checksheetTable--fieldInput--error:focus {
  border: 2px solid #ba0808 !important;
}

.checksheetTable--deleteButton {
  background-color: white !important;
  color: black !important;
  font-weight: bolder !important;
  border: none !important;
  float: left !important;
  margin-left: 3px !important;
  margin-right: 2px !important;
}

.checksheetTable--fieldTitle--Dropdown {
  float: left;
  padding-right: 4px;
  width: 80px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0.98;
  filter: alpha(opacity=98);
}

.popup {
  background-color: white;
  width: auto;
  height: auto;
  z-index: 10001;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.popup p {
  padding: 0;
  margin: 0;
  float: left;
}

.popup select {
  float: left;
  height: 20px;
}

.popup input {
  height: 20px;
  float: left;
  width: 120px;
}

.popup span {
  color: #ba0808;
}

/* loading spinner */
.spinner-wrap {
  height: 300px;
  margin-top: 50px;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
}

@-webkit-keyframes spin {
  from {
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes spin {
  .spinner-wrap from {
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  .spinner-wrap to {
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0);
    -o-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.spinner-wrap .cube {
  position: relative;
  margin: 0 auto;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: spin 5s infinite linear;
  -moz-animation: spin 5s infinite linear;
  -o-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}

.spinner-wrap i {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  display: block;
  background: url("Images/CheckList.png");
}

.spinner-wrap i.front {
  -moz-transform: translateZ(50px);
  -o-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}

.spinner-wrap i.back {
  -moz-transform: translateZ(-50px) rotateY(180deg);
  -o-transform: translateZ(-50px) rotateY(180deg);
  -ms-transform: translateZ(-50px) rotateY(180deg);
  -webkit-transform: translateZ(-50px) rotateY(180deg);
  transform: translateZ(-50px) rotateY(180deg);
}

.spinner-wrap i.left {
  -moz-transform: rotateY(270deg) translateX(-50px);
  -o-transform: rotateY(270deg) translateX(-50px);
  -ms-transform: rotateY(270deg) translateX(-50px);
  -webkit-transform: rotateY(270deg) translateX(-50px);
  transform: rotateY(270deg) translateX(-50px);
  moz-transform-origin: center left;
  -o-transform-origin: center left;
  -ms-transform-origin: center left;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.spinner-wrap i.right {
  -moz-transform: rotateY(-270deg) translateX(50px);
  -o-transform: rotateY(-270deg) translateX(50px);
  -ms-transform: rotateY(-270deg) translateX(50px);
  -webkit-transform: rotateY(-270deg) translateX(50px);
  transform: rotateY(-270deg) translateX(50px);
  moz-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

/*# sourceMappingURL=Styles.css.map */