<div ng-controller="Schedule">

    <h2>Schedule</h2>

    <input type="button" value="Schedule a Routine" />

    <p>{{test}}</p>
    <h2 ng-if="schedule.ScheduledRoutines.length < 1">
        No Routines Scheduled
    </h2>

    <table class="checksheetTable" ng-if="schedule.ScheduledRoutines.length > 0">
        <tr class="checksheetTable--row">
            <td>Routine name</td>
            <td>Area</td>
            <td>Assigned Team</td>
            <td>Assigned User</td>
            <td>Due Date</td>
            <td>Completed On</td>
            <td>Completed By</td>
        </tr>
        <tr class="checksheetTable--row" ng-repeat="Row in schedule.ScheduledRoutines">
            <td>Routine name!</td>
            <td>Area</td>
            <td>{{Row.AssignedTeam}}</td>
            <td>{{Row.AssignedUser}}</td>
            <td>{{Row.DueOn}}</td>
            <td>{{Row.CompletedOn}}</td>
            <td>{{Row.Completedby}}</td>
        </tr>
    </table>

    <div class="overlay">

    </div>


    <div class="popup">

        <p> Select Plant Area:</p>
        <select ng-options="name for name in Areas"
                ng-model="SelectedArea"
                ng-change="areaChanged(SelectedArea)"></select>
        <br />

        <p> Select Routine: </p>
        <select ng-if="SelectedArea != ''"
                ng-options="name for name in Routines"
                ng-model="SelectedRoutine"></select>

        <p ng-if="SelectedArea == ''"> Must select an area first</p>
        <br />

        <p> Select Team: </p>
        <select ng-if="SelectedArea != ''"
                ng-options="name for name in Teams"
                ng-model="SelectedTeam"
                ng-change="getUsersByTeam(SelectedTeam)"></select>

        <p ng-if="SelectedArea == ''"> Must select an area first</p>
        <br />

        <p> Select User: </p>
        <select ng-if="Teams.length > 0"
            ng-options ="name for name in Users"
            ng-model="SelectedUser">
        </select>

        <p ng-if="Teams.length < 1"> Must select a team first</p>
        <br />

        <p>Enter Due Date: </p>
        <input type="date" />
        <br />

        <p>Occurs Every</p>
        <input type="number" value="1" />
        <select>
            <option>Days</option>
            <option>Months</option>
            <option>Years</option>
        </select>
        <br />

        <p>Number of occurances:</p>
        <input type="number" value="1" />

        <br />
        <input type="button" value="Save" />
        <input type="button" value="Cancel" />
    </div>


</div>
<script src="~/Scripts/Checksheet.js"></script>