<div ng-controller="Schedule">

    <h2>Schedule</h2>

    <input type="button" value="Schedule a Routine" ng-click="ScheduleRoutineClick()"/>

    <h2 ng-if="schedule.ScheduledRoutines.length < 1">
        No Routines Scheduled
    </h2>

    <table class="checksheetTable" ng-if="schedule.ScheduledRoutines.length > 0">
        <tr class="checksheetTable--row">
            <td>Routine name</td>
            <td>Area</td>
            <td>Assigned Team</td>
            <td>Assigned User</td>
            <td>Due Date</td>
            <td>Completed On</td>
            <td>Completed By</td>
        </tr>
        <tr class="checksheetTable--row" ng-repeat="Row in schedule.ScheduledRoutines">
            <td>Routine name!</td>
            <td>Area</td>
            <td>{{Row.AssignedTeam}}</td>
            <td>{{Row.AssignedUser}}</td>
            <td>{{Row.DueOn}}</td>
            <td>{{Row.CompletedOn}}</td>
            <td>{{Row.Completedby}}</td>
        </tr>
    </table>

    <div class="overlay" ng-hide="PopupHidden"></div>

    <div class="popup" ng-hide="PopupHidden">

        <p> Select Plant Area:</p>
        <select ng-options="name for name in Areas"
                ng-model="SelectedArea"
                ng-change="areaChanged(SelectedArea)"></select>

        <br />

        <p> Select Routine: </p>
        <select ng-if="SelectedArea !== ''"
                ng-model="SelectedRoutine"
                ng-options="name for name in Routines"
                ng-change="RoutineSelected(SelectedRoutine)"></select>

        <p ng-if="SelectedArea == ''"><span> Must select an area first</span></p>
        <br />

        <p> Select Team: </p>
        <select ng-if="SelectedArea !== ''"
                ng-options="name for name in Teams"
                ng-model="SelectedTeam"
                ng-change="getUsersByTeam(SelectedTeam)"></select>

        <p ng-if="SelectedArea == ''"><span> Must select an area first</span></p>
        <br />

        <p> Select User: </p>
        <select ng-if="SelectedTeam !== ''"
                ng-options="name for name in Users"
                ng-model="SelectedUser"></select>

        <p ng-if="SelectedTeam == ''"> <span>Must select a team first</span></p>
        <br />

        <p>Enter Due Date: </p>
        <input type="date" ng-model="SelectedDate" />
        <br />

        <p>Occurs Every</p>
        <input type="number" ng-model="SelectedRate" />

        <select ng-options="name for name in TimePeriod"
                ng-model="SelectedPeriod"></select>
        <br />

        <p>Number of occurances:</p>
        <input type="number" ng-model="SelectedNumber" />

        <br />

        <input type="button" value="Save" ng-click="SaveScheduleClick()" />
        <input type="button" value="Cancel" ng-click="CancelScheduleClick()" />

    </div>


</div>
<script src="~/Scripts/Checksheet.js"></script>